:root {
  --cor-primaria: #fff;
  --cor-primaria-gray: #f2f2f2;
  --cor-secundaria: #f24405;
  --cor-secundaria-dark: hsl(16, 66%, 48%);
  --cor-secundaria-light: #f28705;

  --cor-dark-texto: #212529;
  --cor-light-texto: #f2f2f2;

  --cor-verde-auxiliar: #6f7302;
  --cor-verde-light-auxiliar: #b9bf05;

  --box-shadow-sm: 0 3px 6px rgba(204, 204, 204, 1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

#barra-topo {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  height: 56px;
  background-color: var(--cor-secundaria);
  box-shadow: 0 3px 6px rgba(68, 68, 68, 0.233);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#barra-topo #btn-menu {
  font-size: 30px;
  color: var(--cor-primaria);
}

#menu-principal {
  background-color: var(--cor-secundaria);
  position: fixed;
  top: 0;
  left: -260px;
  min-width: 260px;
  height: 100vh;
  box-shadow: 0 3px 6px rgba(68, 68, 68, 0.233);
  z-index: 999999;
  transition: all 500ms ease;
}

.menu-show {
  left: 0 !important;
}

#menu-principal-topo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

#menu-principal-topo i {
  font-size: 1.8rem;
}

#menu-principal ul {
  margin-top: 50px;
}

#menu-principal ul li {
  text-align: left;
  /* margin-left: 1.1rem; */
  margin-bottom: 1rem;
}

#menu-principal ul li a {
  display: block;
  text-decoration: none;
  font-weight: 600;
  color: var(--cor-light-texto);
  padding: 8px;
  /* margin-left: 1.1rem; */
}

#overlay {
  position: fixed;
  background-color: rgb(51, 51, 51, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  display: none;
}

.formato-bolinha {
  border-radius: 50%;
  border: 2px solid var(--cor-primaria);
}

#pesquisar {
  position: relative;
  padding: 16px 8px;
  margin-top: 70px;
}

#pesquisar input {
  background-color: var(--cor-primaria);
  width: 100%;
  height: 45px;
  padding: 8px 40px 8px 15px;
  border: 1px solid var(--cor-secundaria-light);
  border-radius: 20px;
  box-shadow: var(--box-shadow-sm);
  font-size: 1rem;
}

#pesquisar input:focus {
  outline-color: var(--cor-secundaria);
}

#pesquisar button {
  background: none;
  border: none;
  position: absolute;
  right: 30px;
  top: 27px;
}

#pesquisar i {
  font-size: 20px;
}

.conteudo {
  background-color: var(--cor-primaria-gray);
}

.lista-categorias {
  overflow-x: auto;
}

.lista-categorias ul {
  display: flex;
  justify-content: space-between;
  padding: 16px 8px;
  margin-bottom: 1rem;
  gap: 5px;
}

/* .lista-categorias ul li {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 20%;
} */

.lista-categorias .item-categoria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--cor-primaria);
  font-size: 0.5rem;
  color: var(--cor-dark-texto);
  text-align: center;
  padding: 8px;
  width: 80px;
  height: 80px;
  margin: 3px;
  box-shadow: var(--box-shadow-sm);
  border-radius: 10px;
}

.lista-categorias .item-categoria i::before {
  font-size: 2rem;
  color: var(--cor-secundaria-light) !important ;
}

.lista-produtos {
  display: inline-flex;
  flex-wrap: wrap;
}

.lista-produtos .item-produto {
  max-width: calc(50% - 16px);
  border: 1px solid var(--cor-primaria-gray);
  border-radius: 16px;
  box-shadow: var(--box-shadow-sm);
  margin: 8px;
  padding: 8px;
}

.lista-produtos .item-produto img {
  border-radius: 16px 16px 0 0;
}

.lista-produtos .item-produto h2 {
  font-size: 1rem;
}

.lista-produtos .item-produto small {
  font-size: 0.7rem;
}

.lista-produtos .item-produto .preco {
  font-size: 1rem;
  font-weight: bold;
  color: var(--cor-secundaria);
}

.box-preco {
  display: flex;
  justify-content: space-between;
}

.img-fluid {
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* .btn-adicionar {
  background-color: var(--cor-secundaria-light);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  color: var(--cor-primaria);
  text-decoration: none;
  border-radius: 15px;
  align-items: center;
} */

main {
  margin-bottom: 70px;
}

#menu-rodape {
  background-color: var(--cor-secundaria);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 56px;
  box-shadow: 0 -3px 6px rgba(68, 68, 68, 0.233);
}

#menu-rodape ul {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}

#menu-rodape ul a {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--cor-light-texto) !important;
  display: block;
  padding: 8px;
}

/* #menu-rodape ul a:hover {
  background-color: var(--cor-secundaria-light);
} */

/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* -------------- hamburguer.html ----------------- */

#produto-aberto {
  margin-top: 56px;
}

#produto-aberto #produto-descricao {
  padding: 8px 16px;
}

#produto-aberto #produto-descricao .produto-nome {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

#produto-aberto #produto-descricao .produto-nome h2 {
  margin-right: 10px;
}

#produto-aberto #produto-descricao .produto-nome span {
  font-weight: 600;
  font-size: 0.8rem;
  color: var(--cor-secundaria);
  margin-top: 5px;
}

#produto-aberto #produto-descricao .box-preco .preco {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--cor-secundaria);
  margin-top: 10px;
}

#produto-aberto .btn-comprar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 120px;
}

#produto-aberto .btn-comprar button {
  width: 90%;
  height: 45px;
  color: var(--cor-primaria);
  font-size: 1.05rem;
  font-weight: bold;
  background-color: var(--cor-verde-light-auxiliar);
  border-radius: 5px;
  border: 1px solid var(--cor-verde-auxiliar);
}

#produto-aberto .btn-comprar button:hover {
  background-color: var(--cor-verde-auxiliar);
  transition: 0.1s ease-in;
}
