@font-face {
  font-family: "icones";
  src: url("fonts/icones.ttf?jhnr74") format("truetype"),
    url("fonts/icones.woff?jhnr74") format("woff"),
    url("fonts/icones.svg?jhnr74#icones") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icones" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cupom .path1:before {
  content: "\e905";
  color: rgb(255, 202, 138);
}
.icon-cupom .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 202, 138);
}
.icon-cupom .path3:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(242, 68, 5);
}
.icon-close:before {
  content: "\e916";
  color: #fff;
}
.icon-house:before {
  content: "\e904";
}
.icon-suco:before {
  content: "\e900";
}
.icon-account-settings:before {
  content: "\e901";
  color: #fff;
}
.icon-user:before {
  content: "\e902";
  color: #fff;
}
.icon-botao-hamburguer:before {
  content: "\e903";
}
.icon-engrenagem:before {
  content: "\e906";
  color: #fff;
}
.icon-cesta:before {
  content: "\e907";
  color: #fff;
}
.icon-Chamusca-Burguer:before {
  content: "\e908";
}
.icon-choppe:before {
  content: "\e909";
  color: #fff;
}
.icon-favoritos:before {
  content: "\e90a";
  color: #fff;
}
.icon-batata_frita:before {
  content: "\e90b";
  color: #fff;
}
.icon-hambuger:before {
  content: "\e90c";
  color: #fff;
}
.icon-lupa:before {
  content: "\e90f";
  color: #212529;
}
.icon-pedido:before {
  content: "\e910";
  color: #fff;
}
.icon-pizza:before {
  content: "\e911";
  color: #fff;
}
.icon-user1:before {
  content: "\e914";
  color: #fff;
}
.icon-project-svgrepo-com:before {
  content: "\e915";
}
